<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= book.title %></title>
    <link rel="stylesheet" href="stylesheets/main.css" />
  </head>
  <body>
    <h1><%= book.title %></h1>
    <h1 class="text-3xl font-bold underline">Hello world</h1>
    <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" />
    <p><%= book.author %></p>
    <p><%= book.isbn %></p>
    <p><%= book.rating %></p>
    <p><%= book.review %></p>
    <p><%= book.updated_at %></p>
    <% for (var i = 0; i < notes.length; i++) { %>
    <p><%= notes[i].notes %></p>
    <% } %>
  </body>
</html>
