<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Notes</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body class="bg-blue-200 mx-auto max-w-3xl py-4 px-4">
    <h1 class="text-3xl tracking-wide font-bold inline-block mb-4">
      Book Notes
    </h1>
    <form
      action="/"
      method="get"
      class="inline-block mx-auto p-6 rounded-lg relative"
    >
      <select
        id="sort"
        name="sort"
        class="block appearance-none bg-blue-200 border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
        onchange="this.form.submit()"
      >
        <option value="">Sort By</option>
        <option value="default">Default</option>
        <option value="high-rated">High Rated</option>
        <option value="most-recent">Most Recent</option>
      </select>
      <div
        class="pointer-events-none absolute inset-y-0 right-6 flex items-center px-2 text-gray-700"
      >
        <svg
          class="fill-current h-4 w-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M5.293 9.293a1 1 0 011.414 0L10 12.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          />
        </svg>
      </div>
    </form>
    <button
      type="button"
      class="py-3 px-4 mt-4 tracking-widest float-right inline-flex items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
      title="Add Book"
      onclick="location.href = '/book'"
    >
      Add Book
    </button>
    <% for (var i = 0; i < books.length; i++) { %>
    <div class="flex items-start mb-4">
      <img
        src="https://covers.openlibrary.org/b/isbn/<%= books[i].isbn %>-M.jpg"
        class="float-left mr-4"
      />
      <div>
        <h2 class="font-bold text-2xl underline mb-1">
          <a href="/book/<%= books[i].title.replace(/[^a-zA-Z0-9]+/g, '') %>">
            <%= books[i].title %> by <%= books[i].author %>
          </a>
        </h2>
        <p class="flex items-center mb-4">
          <span class="text-gray-500 mr-2">ISBN: <%= books[i].isbn %> </span>
          <span class="text-gray-500">Rating: <%= books[i].rating %>/10</span>
        </p>
        <p class="text-gray-700 text-lg"><%= books[i].review %></p>
      </div>
    </div>
    <hr class="my-4 border-t-2 border-gray-300" />

    <% } %>
  </body>
</html>
